@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme variables */
    /* --color-bkg: 210deg 40% 98%; */
    --color-bkg: #F5F5F5;
    --color-content: #212121;
    --color-accent1: #f2f0f0;
    --color-accent2: 168deg 83.8% 48.2%;
    --color-borderColor: #E0E0E0;
  --color-textareaColor: #f0f9ff;
  }

  :root[data-theme="dark"] {
    /* Dark theme variables */
    --color-bkg: #1A1A1A;
    /* --color-bkg: 217deg 32.6% 17.5%; */
    --color-content: #F5F5F5;
    --color-accent1: #212121;
    --color-accent2: 168deg 83.8% 48.2%;
    --color-borderColor: #424242;
    --color-textareaColor: #f0f9ff;
  }
}

body {
  color: var(--color-content);
  background: var(--color-bkg);
  /* border-color: var(--color-accent1); */
}